<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Helpr</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script type="text/javascript" src="{{
        url_for('static', filename='js/main.js') }}"></script>
</head>

<body onload="onLoad()">
    <nav class="navbar is-primary p-2" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="has-text-weight-bold is-size-4">helpr.</h1>
            </a>
        </div>
    </nav>
    <div id="all-content">{% block content %}{% endblock %}</div>
</body>

</html>