{% extends "base.html" %}
{% block content %}
<div class="hero-body">
    <div class=" container">
        <h1 class="title has-text-centered">
            Create your meal plan!
        </h1>
        <label>Tinggi badan</label>
        <input class="input my-4" type="number" min="0" placeholder="Height" id="height">
        <label>Berat badan</label>
        <input class="input my-4" type="number" min="0" placeholder="Weight" id="weight">
        <label>Umur</label>
        <input class="input my-4" type="number" min="0" placeholder="Age" id="age">
        <label>Jenis Kelamin</label>
        <div class="dropdown is-block my-4" onclick="toggleActive(0)">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span class="value-gender">Laki-laki</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-item" onclick="selectOption(this, 'value-gender', '')">
                        Laki-laki
                    </div>
                    <div class="dropdown-item" onclick="selectOption(this, 'value-gender', '')">
                        Perempuan
                    </div>
                </div>
            </div>
        </div>
        <label>Tingkat Intensitas Kegiatan</label>
        <div class="dropdown is-block my-4" onclick="toggleActive(1)">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span class="value-intensity">Tidak pernah bergerak</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-item" onclick="selectOption(this, 'value-intensity', '')">
                        Tidak pernah bergerak
                    </div>
                    <div class="dropdown-item" onclick="selectOption(this, 'value-intensity', '')">
                        Aktif (Ringan)
                    </div>
                    <div class="dropdown-item" onclick="selectOption(this, 'value-intensity', '')">
                        Aktif (Sedang)
                    </div>
                    <div class="dropdown-item" onclick="selectOption(this, 'value-intensity', '')">
                        Sangat aktif
                    </div>
                    <div class="dropdown-item" onclick="selectOption(this, 'value-intensity', '')">
                        Aktif (Ekstra)
                    </div>
                </div>
            </div>
        </div>
        <label>Makanan untuk sarapan yang paling kamu suka</label>
        <div class="dropdown is-block my-4" onclick="toggleActive(2)">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span class="value-breakfast">Select value</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content" id="dropdown-breakfast">
                </div>
            </div>
        </div>
        <label>Makanan untuk makan siang yang paling kamu suka</label>
        <div class="dropdown is-block my-4" onclick="toggleActive(3)">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span class="value-lunch">Select value</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content" id="dropdown-lunch">
                </div>
            </div>
        </div>
        <label>Makanan untuk makan malam yang paling kamu suka</label>
        <div class="dropdown is-block my-4" onclick="toggleActive(4)">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span class="value-dinner">Select value</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content" id="dropdown-dinner">
                </div>
            </div>
        </div>
        <label>Tingkat Exercise</label>
        <div class="dropdown is-block my-4" onclick="toggleActive(5)">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span class="value-level">Select value</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content" id="dropdown-level">
                </div>
            </div>
        </div>
        <label>Kamu tidak mau exercise apa?</label>
        <div class="dropdown is-block my-4" onclick="toggleActive(6)">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span class="value-type">Select value</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content" id="dropdown-type">
                </div>
            </div>
        </div>
        <label>Berapa jam kamu tidur?</label>
        <input class="input my-4" type="number" min="0" placeholder="Time" id="sleep">
        <button class="button is-primary" onclick="onSubmit()">Submit</button>
    </div>
</div>
{% endblock %}